.bodyone {
	height: 30%;
	
	margin-left: 30%;
}

.bodytwo {
	height: 30%;
	width: 50%;
	margin-left: 26%;
	margin-top: -40%
}

.bodythree {
	height: 30%;
	margin-top: -40%
}



.a {
	color: #8A0808;
	font-family: Verdana;
	font-size: 50px;
}

.b {
	color: #FF8000;
	font-style: italic;
	font-size: 35px;
}

.c {
	color: #DF7401;
	font-weight: oblique; 
	font-size: 60px;
}

.d {
	color: #21610B;
	font-family: sans-serif;
	font-size: 44px;
}

.e {
	color: #08088A;
	font-style: italic;
	font-size: 65px;
}

.f {
	color: #8A2908;
	font-size: 75px;
	font-family: Helvetica;
}

.g {
	color: #FFFF00;
	font-family: Impact;
	font-size: 22px;
	letter-spacing: 15px;
}

.h {
	color: #DF0101;
	font-family: monospace;
	font-size: 60px;
}







