.text {
	font-family: Geneva;
	text-align: center;
	line-height: 30px;
}
div:hover {
	background-color: white;
}


.bar-one {
	color: white;
	background-color: #F4FA58;
	height: 30px;
	font-size: 4px;
}

.bar-two {
	color: white;
	background-color: #F3F781;
	height: 30px;
	font-size: 6px;
}

.bar-three {
	color: white;
	background-color: #F2F5A9;
	height: 30px;
	font-size: 8px;
}

.bar-four {
	color: white;
	background-color: #F5F6CE;
	height: 30px;
	font-size: 10px;

}

.bar-five {
	color: white;
	background-color: #F7F2E0;
	height: 30px;
	font-size: 12px;
}

.bar-six {
	color: white;
	background-color: #F5ECCE;
	height: 30px;
	font-size: 14px;
}

.bar-seven {
	color: white;
	background-color: #F3E2A9;
	height: 30px;
	font-size: 16px;
}

.bar-eight {
	color: white;
	background-color: #F5DA81;
	height: 30px;
	font-size: 18px;
}

.bar-nine {
	color: white;
	background-color: #F7D358;
	height: 30px;
	font-size: 20px;
}

.bar-a {
	color: white;
	background-color: #FFBF00;
	height: 30px;
	font-size: 18px;
}

.bar-b {
	color: white;
	background-color: #FAAC58;
	height: 30px;
	font-size: 16px;
}

.bar-c {
	color: white;
	background-color: #F7BE81;
	height: 30px;
	font-size: 14px;
}

.bar-d {
	color: white;
	background-color: #F5D0A9;
	height: 30px;
	font-size: 12px;
}

.bar-e {
	color: white;
	background-color: #F6E3CE;
	height: 30px;
	font-size: 10px;
}

.bar-f {
	color: white;
	background-color: #FBF2EF;
	height: 30px;
	font-size: 8px;
}

.bar-g {
	color: white;
	background-color: #F8E6E0;
	height: 30px;
	font-size: 6px;
}

.bar-h {
	color: white;
	background-color: #F6D8CE;
	height: 30px;
	font-size: 4px;
}

.bar-i {
	color: white;
	background-color: #F6CECE;
	height: 30px;
	font-size: 4px;
}

.bar-j {
	color: white;
	background-color: #F5A9A9;
	height: 30px;
	font-size: 6px;
}

.bar-k {
	color: white;
	background-color: #F78181;
	height: 30px;
	font-size: 8px;
}

.bar-l {
	color: white;
	background-color: #FA5858;
	height: 30px;
	font-size: 10px;
}

.bar-m {
	color: white;
	background-color: #FE2E2E;
	height: 30px;
	font-size: 12px;
}

.bar-n {
	color: white;
	background-color: #DF0101;
	height: 30px;
	font-size: 14px;
}

.bar-o {
	color: white;
	background-color: #B40404;
	height: 30px;
	font-size: 16px;
}

.bar-p {
	color: white;
	background-color: #8A0808;
	height: 30px;
	font-size: 18px;
}

.bar-q {
	color: white;
	background-color: #610B0B;
	height: 30px;
	font-size: 19px;
}

.bar-r {
	color: white;
	background-color: #3B0B0B;
	height: 30px;
	font-size: 20px;
}

















