body {
	background-color: #F5ECCE;
}

a {
	text-decoration: none;
	color: purple;

}

.line1 {
	border-top: 2px solid purple;
	width: 300px;
	margin: -20px;
	padding: 10px;
	
}

h1 {
	font-family: Arial;

}

a:hover {
	background-color: #00ffff;
}