* {
	box-sizing: border-box;
}

body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: gray;
	position: relative;
	
	
}

.object {
	position: absolute;
}

.lamp-container {
	width: 300px;
	height: 480px;
	bottom: 0px;
	left: 300px;
}



.trapezoid {
	height: 0;
	width: 200px;
	border-bottom: 150px solid #F5DA81;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	margin-left: 40px;	
	z-index: 3;
}



.stand {
	width: 10px;
	height: 300px;
	background-color: black;
	margin: 50px 0 0 130px;
	z-index: 2;
	
}

.base {
	width: 100px;
	height: 47px;
	background-color: #424242;
	border-radius: 100%;
	margin: 325px 0 0 85px;
	z-index: 1;
	
	
}

.basetwo {
	width: 100px;
	height: 47px;
	background-color: black;
	border-radius: 100%;
	margin: 330px 0 0 85px;
	
	
}

.chain {
	width: 5px;
	height: 100px;
	background-color: black;
	margin: 90px 0 0 80px;
	z-index: 2;
}

.ball {
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 100%;
	margin: 180px 0 0 72px;	
}

.canvastwo {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: #8A0808;
	position: relative;	
	z-index: -3;
}

.coffee-container {
	width: 450px;
	height: 480px;
	bottom: 0px;
	left: 300px;
}
	

.mug {
	width: 200px;
	height: 200px;
	background-color: white;
	margin: 100px 0 0 50px;	
}

.mugbottom {
	width: 200px;
	height: 47px;
	background-color: white;
	border-radius: 100%;
	margin: 278px 0 0 50px;	
}

.mugtop {
	width: 200px;
	height: 47px;
	background-color: gray;
	border: 2px solid white;
	border-radius: 100%;
	margin: 79px 0 0 50px;	
}

.outerhandle {
	width: 160px;
	height: 160px;
	background-color: white;
	border-radius: 100%;
	margin: 130px 0 0 150px;
	z-index: -2;	
}

.innerhandle {
	width: 100px;
	height: 100px;
	background-color: #8A0808;
	border-radius: 100%;
	margin: 160px 0 0 190px;
	z-index: -1;	
}

.shadow {
	width: 300px;
	height: 60px;
	background-color: black;
	border-radius: 100%;
	margin: 280px 0 0 -45px;
	z-index: -2;
}












