
.scroll-down {
 height: 900px;	
 overflow: hidden;
 position: relative;
 background: gray;
 color: #58D3F7;

}

.scroll-down p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 90px;
 text-align: center;
 letter-spacing: 60px;
 font-family: Arial;
 font-size: 20px;
 /* Starting position */
 -moz-transform:translateY(-100%);
 -webkit-transform:translateY(-100%);	
 transform:translateY(-100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-down 5s linear infinite;
 -webkit-animation: scroll-down 5s linear infinite;
 animation: scroll-down 5s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-down {
 0%   { -moz-transform: translateY(-100%); }
 100% { -moz-transform: translateY(100%); }
}
@-webkit-keyframes scroll-down {
 0%   { -webkit-transform: translateY(-100%); }
 100% { -webkit-transform: translateY(100%); }
}
@keyframes scroll-down {
 0%   { 
 -moz-transform: translateY(-100%); /* Browser bug fix */
 -webkit-transform: translateY(-100%); /* Browser bug fix */
 transform: translateY(-100%); 		
 }
 100% { 
 -moz-transform: translateY(100%); /* Browser bug fix */
 -webkit-transform: translateY(100%); /* Browser bug fix */
 transform: translateY(100%); 
 }
}






#right-triangle {
   width: 0;
   height: 0;
   border-left: 40px solid maroon;
   border-top: 30px solid transparent;
   border-bottom: 30px solid transparent;
   margin-left: 1100px;
   margin-top: 200px;
}



#left-triangle {
   width: 0;
   height: 0;
   border-right: 40px solid #3B0B0B;
   border-top: 30px solid transparent;
   border-bottom: 30px solid transparent;
   margin-top: -65px;
}






