	.body {
			position: static;
		}
		.object {
			position: absolute;
		}
		.left {
			position: static;
			margin-top: 100px;
			height: 500px;
			width: 300px
		}

		

	


		.when {
			margin-left: 130px;
		}
		
		.all {
			margin-left: 153px;
			margin-top: 0px;
		}

		.the {
			margin-left: 160px;
		}

		.golden {
			margin-left: 165px;
		}

		.birds {
			margin-left: 170px;
		}

		.fly {
			margin-left: 180px;
		}

		.home {
			margin-left: 180px;
		}

		.across {
			margin-left: 180px;
		}

		.thetwo {
			margin-left: 190px;
		}

		.blue {
			margin-left: 187px;
		}

		.deep {
			margin-left: 170px;
		}

		.water {
			margin-left: 115px;
		}

		.shore {
			margin-left: 85px;
			margin-top: -38px;
		}

		#mothers {
			margin-top: -38px;
			margin-left: 65px;
		}

		#breath {
			margin-left: 65px;
			margin-top: -38px;
		}

		#from {
			margin-top: -38px;
			margin-left: 65px;
		}

		.I {
			margin-left: 92px;
			margin-top: -38px;
		}

		#reunion {
			margin-top: -38px;
			margin-left: 55px;
		}

		.sit {
			margin-left: 80px;
			margin-top: -38px;
		}

		.rapt {
			margin-left: 75px;
			margin-top: -38px;
		}

		.in {
			margin-left: 75px;
			margin-top: -38px;
		}

		#mouth {
			margin-left: 60px;
			margin-top: -38px;
		}

		.scattering {
			margin-left: 50px;
			margin-top: -38px;
		}

		.glitter {
			margin-left: 75px;
			margin-top: -38px;
		}

		#departure {
			margin-top: -38px;
			margin-left: 55px;
		}

		.whentwo {
			margin-left: 85px;
			margin-top: -38px;
		}

		.alltwo {
			margin-left: 110px;
			margin-top: -38px;
		}

		#through {
			margin-top: -38px;
			margin-left: 80px;
		}

		#sleep {
			margin-top: -38px;
			margin-left: 95px;
		}

		.thethree {
			margin-left: 120px;
			margin-top: -40px;
		}

		.right {
			position: static;
			height: 500px;
			width: 300px;
			margin-top: 400px;

		}

		#child {
			margin-top: -38px;
			margin-left: 100px;
		}





#right-triangle {
   width: 0;
   height: 0;
   border-left: 40px solid maroon;
   border-top: 30px solid transparent;
   border-bottom: 30px solid transparent;
   margin-left: 1100px;
   margin-top: 200px;
}



#left-triangle {
   width: 0;
   height: 0;
   border-right: 40px solid #B45F04;
   border-top: 30px solid transparent;
   border-bottom: 30px solid transparent;
   margin-top: -65px;
}





