a:link {
	text-decoration: none;
}

.link {
	padding-top: 20%
}

.space {
	padding: 35%;
}

.two {
	margin-left: 25%;
}

.three {
	margin-left: 75%;
}

.four {
	margin-left: 50%;
}

.five {
	margin-left: 59%;
}

.six {
	margin-left: 5%;
}

.seven {
	margin-left: 90%;
}


.eight {
	margin-left: 75%;
}

.nine {
	margin-left: 35%;
}

.ten {
	margin-left: 0%;
}

.eleven {
	margin-left: 55%;
}

.twelve {
	margin-left: 25%;
}

.thirteen {
	margin-left: 80%;
}

.fourteen {
	margin-left: 30%;
	letter-spacing: 4px;
}

.fifteen {
	margin-left: 87%;
}

.a {
	margin-left: 67%;
}

.b {
	margin-left: 27%;
}

.c {
	margin-left: 15%;
}

.d {
	margin-left: 7%;
}

.e {
	margin-left: 57%;
}

.f {
	margin-left: 15%;
}

.g {
	margin-left: 80%;
}

.h {
	margin-left: 0%;
}

.i {
	margin-left: 50%;
}

.j {
	margin-left: 65%;
}

.k {
	margin-left: 12%;
}

.l {
	margin-left: 75%;
}

.m {
	margin-left: 55%;
}

.n {
	margin-left: 33%;
}

.o {
	margin-left: 23%;
}

.p {
	margin-left: 77%;
}

.q {
	margin-left: 55%;
}

.r {
	margin-left: 10%;
}

.s {
	margin-left: 15%;
}

.t {
	margin-left: 25%;
}

.u {
	margin-left: 20%;
}

.v {
	margin-left: 60%;
}

.w {
	margin-left: 40%;
}

.x {
	margin-left: 22%;
}

.y {
	margin-left: 45%;
}

.z {
	margin-left: 50%;
}

.aa {
	margin-left: 25%;
}

.bb {
	margin-left: 50%;
}



#right-triangle {
   width: 0;
   height: 0;
   border-left: 40px solid #3B0B0B;
   border-top: 30px solid transparent;
   border-bottom: 30px solid transparent;
   margin-left: 1100px;
   margin-top: 200px;
}



#left-triangle {
   width: 0;
   height: 0;
   border-right: 40px solid maroon;
   border-top: 30px solid transparent;
   border-bottom: 30px solid transparent;
   margin-top: -65px;
}










