.screen {
	width: 1024px;
	height: 968px;
	position: static;
	background-color: black;
	
}

.text {
	font-family: Courier New;
	font-weight: lighter;
	color: white;
	font-size: 65px;
	position: absolute;	
	z-index: 2;
}

.line1 {
	line-height: 65px;
	margin-left: 80px;
}

.line2 {
	margin-top: 70px;
	margin-left: 200px;
}

.line3 {
	margin-top: 150px;
	margin-left: 160px;
}

.line4 {
	margin-top: 230px;
	margin-left: 130px;
}

.line5 {
	margin-top: 310px;
	margin-left: 135px;
}

.line6 {
	margin-top: 390px;
	margin-left: 350px;
}

.line7 {
	margin-top: 475px;
	margin-left: 230px;
}

.line8 {
	margin-top: 560px;
	margin-left: 60px;
	font-size: 60px;
}

.home {
	font-family: monospace;
	font-size: 75px;
	color: #FFBF00;
	position: absolute;
	margin-left: 770px;
	margin-top: 20px;
}

.square {
	position: absolute;
	height: 570px;
	width: 220px;
	background-color: white;
	margin-left: 750px;
	margin-top: 110px;
}

.stats {
	position: absolute;
	margin-left: 753px;
	margin-top: 150px;
	font-size: 47px;
	font-family: Helvetica;
	font-weight: bold;
	line-height: 60px;
}






