.canvas {
	height: 600px;
	width: 600px;
	
	margin-left: 300px;
	position: static;
}

.box {
	position: absolute;
	width: 75px;
	height: 75px;
	float: left;
}


.one-a {
	background-color: #6E6E6E;
	display: inline-block;
	float: left;
	position: static;
}

 .one-b {
	background-color: maroon;
	display: inline-block;
	float: left;
	position: static;
}

.one-c {
	background-color: #6E6E6E;
	display: inline-block;
	float: left;
	position: static;
}

.one-d {
	background-color: #BDBDBD;
	display: inline-block;
	float: left;
	position: static;
}

.one-e {
	background-color: #B43104;
	display: inline-block;
	float: left;
	position: static;
}

.one-f {
	background-color: #BDBDBD;
	display: inline-block;
	float: left;
	position: static;
}

.one-g {
	background-color: green;
	display: inline-block;
	float: left;
	position: static;
}

.one-h {
	background-color: #0B3B0B;
	display: inline-block;
	float: left;
	position: static;
}

.two-a {
	background-color: #424242;
	display: inline-block;
	float: clear;
	position: static;
}

.two-b {
	background-color: #2e2e2e;
	display: inline-block;
	float: left;
	position: static;
}

.two-c {
	background-color: #BDBDBD;
	display: inline-block;
	float: left;
	position: static;
}

.two-d {
	background-color: #2e2e2e;
	display: inline-block;
	float: left;
	position: static;
}

.two-e {
	background-color: #BDBDBD;
	display: inline-block;
	float: left;
	position: static;
}

.two-f {
	background-color: maroon;
	display: inline-block;
	float: left;
	position: static;
}

.two-g {
	background-color: #2e2e2e;
	display: inline-block;
	float: left;
	position: static;
}

.two-h {
	background-color: #2e2e2e;
	display: inline-block;
	float: left;
	position: static;
}

.three-a {
	background-color: #2e2e2e;
	display: inline-block;
	float: clear;
	position: static;
}

.three-b {
	background-color: #6E6E6E;
	display: inline-block;
	float: left;
	position: static;
}

.three-c {
	background-color: #B43104;
	display: inline-block;
	float: left;
	position: static;
}

.three-d {
	background-color: #2E2E2E;
	display: inline-block;
	float: left;
	position: static;
}

.three-e {
	background-color: #6E6E6E;
	display: inline-block;
	float: left;
	position: static;
}

.three-f {
	background-color: #2e2e2e;
	display: inline-block;
	float: left;
	position: static;
}

.three-g {
	background-color: #6E6E6E;
	display: inline-block;
	float: left;
	position: static;
}

.three-h {
	background-color: #B45F04;
	display: inline-block;
	float: left;
	position: static;
}

.four-a {
	background-color: #424242;
	display: inline-block;
	float: clear;
	position: static;
}

.four-b {
	background-color: #bdbdbd;
	display: inline-block;
	float: left;
	position: static;
}

.four-c {
	background-color: #6E6E6E;
	display: inline-block;
	float: left;
	position: static;
}

.four-d {
	background-color: #3B0B0B;
	display: inline-block;
	float: left;
	position: static;
}

.four-e {
	background-color: #0B3B0B;
	display: inline-block;
	float: left;
	position: static;
}

.four-f {
	background-color: #bdbdbd;
	display: inline-block;
	float: left;
	position: static;
}

.four-g {
	background-color: #0B3B0B;
	display: inline-block;
	float: left;
	position: static;
}

.four-h {
	background-color: #424242;
	display: inline-block;
	float: left;
	position: static;
}

.five-a {
	background-color: maroon;
	display: inline-block;
	float: clear;
	position: static;
}

.five-b {
	background-color: #2e2e2e;
	display: inline-block;
	float: left;
	position: static;
}

.five-c {
	background-color: #bdbdbd;
	display: inline-block;
	float: left;
	position: static;
}

.five-d {
	background-color: #bdbdbd;
	display: inline-block;
	float: left;
	position: static;
}

.five-e {
	background-color: #2e2e2e;
	display: inline-block;
	float: left;
	position: static;
}

.five-f {
	background-color: green;
	display: inline-block;
	float: left;
	position: static;
}

.five-g {
	background-color: #2e2e2e;
	display: inline-block;
	float: left;
	position: static;
}

.five-h {
	background-color: #bdbdbd;
	display: inline-block;
	float: left;
	position: static;
}

.six-a {
	background-color: #424242;
	display: inline-block;
	float: clear;
	position: static;
}


.six-b {
	background-color: #B43104;
	display: inline-block;
	float: left;
	position: static;
}

.six-c {
	background-color: #6e6e6e;
	display: inline-block;
	float: left;
	position: static;
}

.six-d {
	background-color: #3B0B0B;
	display: inline-block;
	float: left;
	position: static;
}

.six-e {
	background-color: #bdbdbd;
	display: inline-block;
	float: left;
	position: static;
}

.six-f {
	background-color: #0A0A2A;
	display: inline-block;
	float: left;
	position: static;
}

.six-g {
	background-color: #6e6e6e;
	display: inline-block;
	float: left;
	position: static;
}

.six-h {
	background-color: #424242;
	display: inline-block;
	float: left;
	position: static;
}

.seven-a {
	background-color: #6e6e6e;
	display: inline-block;
	float: clear;
	position: static;
}

.seven-b {
	background-color: #B45F04;
	display: inline-block;
	float: left;
	position: static;
}

.seven-c {
	background-color: #2e2e2e;
	display: inline-block;
	float: left;
	position: static;
}

.seven-d {
	background-color: #bdbdbd;
	display: inline-block;
	float: left;
	position: static;
}

.seven-e {
	background-color: #6e6e6e;
	display: inline-block;
	float: left;
	position: static;
}

.seven-f {
	background-color: #bdbdbd;
	display: inline-block;
	float: left;
	position: static;
}

.seven-g {
	background-color: #bdbdbd;
	display: inline-block;
	float: left;
	position: static;
}

.seven-h {
	background-color: #424242;
	display: inline-block;
	float: left;
	position: static;
}

.eight-a {
	background-color: #0B3B0B;
	display: inline-block;
	float: left;
	position: static;
}

.eight-b {
	background-color: #424242;
	display: inline-block;
	float: left;
	position: static;
}

.eight-c {
	background-color: maroon;
	display: inline-block;
	float: left;
	position: static;
}

.eight-d {
	background-color: maroon;
	display: inline-block;
	float: left;
	position: static;
}

.eight-e {
	background-color: #bdbdbd;
	display: inline-block;
	float: left;
	position: static;
}

.eight-f {
	background-color: #424242;
	display: inline-block;
	float: left;
	position: static;
}

.eight-g {
	background-color: #424242;
	display: inline-block;
	float: left;
	position: static;
}

.eight-h {
	background-color: #3B0B0B;
	display: inline-block;
	float: left;
	position: static;
}

.nine-a {
	background-color: #0A0A2A;
	display: inline-block;
	float: clear;
	position: static;
}

.nine-b {
	background-color: #2e2e2e;
	display: inline-block;
	float: left;
	position: static;
}

.nine-c {
	background-color: #2e2e2e;
	display: inline-block;
	float: clear;
	position: static;
}

.nine-d {
	background-color: #bdbdbd;
	display: inline-block;
	float: left;
	position: static;
}

.nine-e {
	background-color: #6e6e6e;
	display: inline-block;
	float: clear;
	position: static;
}

.nine-f {
	background-color: #2e2e2e;
	display: inline-block;
	float: left;
	position: static;
}

.nine-g {
	background-color: #3B0B0B;
	display: inline-block;
	float: clear;
	position: static;
}

.nine-h {
	background-color: #424242;
	display: inline-block;
	float: left;
	position: static;
}

.ten-a {
	background-color: #bdbdbd;
	display: inline-block;
	float: clear;
	position: static;
}

.ten-b {
	background-color: maroon;
	display: inline-block;
	float: left;
	position: static;
}

.ten-c {
	background-color: #424242;
	display: inline-block;
	float: left;
	position: static;
}

.ten-d {
	background-color: #2e2e2e;
	display: inline-block;
	float: left;
	position: static;
}

.ten-e {
	background-color: #424242;
	display: inline-block;
	float: left;
	position: static;
}

.ten-f {
	background-color: #0A0A2A;
	display: inline-block;
	float: left;
	position: static;
}

.ten-g {
	background-color: #bdbdbd;
	display: inline-block;
	float: left;
	position: static;
}

.ten-h {
	background-color: #B45F04;
	display: inline-block;
	float: left;
	position: static;
}

#a-first {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-left: 97px;
	margin-top: 15px;
}

#a-first:hover {
	color: white;	
}


#a-second {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-left: 323px;
	margin-top: 15px;
	}

#a-second:hover {
	color: white;	
}

#a-third {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-left: 400px;
	margin-top: 90px;
	}

#a-third:hover {
	color: white;	
}

#a-four {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-left: 473px;
	margin-top: 15px;
	}

#a-four:hover {
	color: white;	
}

#a-five {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-left: 550px;
	margin-top: 15px;
	}

#a-five:hover {
	color: white;	
}

#b-first {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 165px;
	margin-left: 175px;
	}

#b-first:hover {
	color: white;	
}

#b-second {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 240px;
	margin-left: 250px;
	}

#b-second:hover {
	color: white;	
}

#b-third {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 240px;
	margin-left: 325px;
	}

#b-third:hover {
	color: white;	
}

#b-fourth {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 240px;
	margin-left: 473px;
	}

#b-fourth:hover {
	color: white;	
}

#b-fifth {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 165px;
	margin-left: 547px;
	}

#b-fifth:hover {
	color: white;	
}

#c-first {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 318px;
	margin-left: 25px;
	}

#c-first:hover {
	color: white;	
}

#c-second {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 390px;
	margin-left: 100px;
	}

#c-second:hover {
	color: white;	
}

#c-third {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 390px;
	margin-left: 250px;
	}

#c-third:hover {
	color: white;	
}

#c-fourth {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 318px;
	margin-left: 397px;
	}

#c-fourth:hover {
	color: white;	
}

#c-fifth {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 390px;
	margin-left: 398px;
	}

#c-fifth:hover {
	color: white;	
}

#d-first {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 542px;
	margin-left: 23px;
	}

#d-first:hover {
	color: white;	
}

#d-second {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 465px;
	margin-left: 98px;
	}

#d-second:hover {
	color: white;	
}

#d-third {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 540px;
	margin-left: 175px;
	}

#d-third:hover {
	color: white;	
}

#d-fourth {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 540px;
	margin-left: 245px;
	}

#d-fourth:hover {
	color: white;	
}

#d-fifth {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 540px;
	margin-left: 549px;
	}

#d-fifth:hover {
	color: white;	
}


#e-first {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 617px;
	margin-left: 23px;
	}

#e-first:hover {
	color: white;	
}

#e-second {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 690px;
	margin-left: 100px;
	}

#e-second:hover {
	color: white;	
}

#e-third {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 690px;
	margin-left: 400px;
	}

#e-third:hover {
	color: white;	
}

#e-fourth {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 617px;
	margin-left: 473px;
	}

#e-fourth:hover {
	color: white;	
}

#e-fifth {
	font-family: Helvetica;
	font-size: 50px;
	color: transparent;
	height: 50px;
	position: absolute;
	margin-top: 693px;
	margin-left: 547px;
	}

#e-fifth:hover {
	color: white;	
}


.labels {
	width: 300px;
	position: static;
	
}

.level-one {
	position: absolute;
	margin-left: 50px;
	font-family: Verdana;
	font-size: 60px;
	margin-top: 30px;
	color: maroon;
}

.level-two{
	position: absolute;
	margin-left: 50px;
	font-family: Verdana;
	font-size: 60px;
	margin-top: 190px;
	color: #B43104;
}

.level-three{
	position: absolute;
	margin-left: 50px;
	font-family: Verdana;
	font-size: 60px;
	margin-top: 350px;
	color: #B45F04;
}

.level-four{
	position: absolute;
	margin-left: 50px;
	font-family: Verdana;
	font-size: 60px;
	margin-top: 510px;
	color: #0B3B0B;
}

.level-five{
	position: absolute;
	margin-left: 50px;
	font-family: Verdana;
	font-size: 60px;
	margin-top: 670px;
	color: #0A0A2A;
}

.title-box {
	width: 300px;
	position: absolute;
	margin-left: 625px;
	z-index: -1;

	
}

.author {
	position: absolute;
	margin-top: 50px;
	font-family: monospace;
	font-size: 30px;
	color: #bdbdbd;
}

.title {
	position: absolute;
	margin-left: -5px;
	margin-top: 200px;
	font-family: Helvetica;
	font-size: 55px;
	font-weight: bold;
	color: #2e2e2e;
	height: 500px;
	 /* Starting position */
 -moz-transform:translateY(-100%);
 -webkit-transform:translateY(-100%);	
 transform:translateY(-100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-down 7s linear infinite;
 -webkit-animation: scroll-down 7s linear infinite;
 animation: scroll-down 7s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-down {
 0%   { -moz-transform: translateY(-100%); }
 100% { -moz-transform: translateY(100%); }
}
@-webkit-keyframes scroll-down {
 0%   { -webkit-transform: translateY(-100%); }
 100% { -webkit-transform: translateY(100%); }
}
@keyframes scroll-down {
 0%   { 
 -moz-transform: translateY(-100%); /* Browser bug fix */
 -webkit-transform: translateY(-100%); /* Browser bug fix */
 transform: translateY(-100%); 		
 }
 100% { 
 -moz-transform: translateY(100%); /* Browser bug fix */
 -webkit-transform: translateY(100%); /* Browser bug fix */
 transform: translateY(100%); 
 }
}

}





















