body {
	background-color: #696969;
	}

h1 {
	font-family: Helvetica;
	color: white;
	background-color: black;
	font-size: 60px;
	}

		.container {
			background: #fafafa;
			padding: 20px;
			border: 5px inset #f6ceec;
			margin: 30px auto;
			width: 25%; float: center;
					}

	

h3 {
	background-color: #696969;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 30px;
}

h2 {
	color: white;
	font-family: Arial black;
	font-size: 32px;

}

img {
	border: 20px inset black;
	margin: auto;
	width: 50%;


}
		.box {
			background: #00ffff;
			padding: 15px;
			
			margin: 30px auto;
			width: 30%; float: center;
			text-align: center;

		}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #00ffff;
}

		img.center {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.middle {
			text-align: center;
		}

ul {
	font-family: Helvetica;
	font-size: 15px;
}

h4 {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 20px;
}










	